/*
Common
*******/
 



.posts li .option_icon {
width: 4%;
position: relative;
left: 90%;
}
html,
body {
    height: 100%;
}
.img {
    width: 50px;
}
.posts li .log img {
width: 33px;
}

.content{
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;

}

.post_form {
    font-weight: bold;
}
/*
post
*******/

.post_form {
    padding: 20px 40px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.post_form .name {
    font-size: 20px;
}

.post_form  input {
    width: 70%;
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid #ccc;
}

.post_form textarea {
    width: 77%;
    height: 97px;
}


.posts li .logo {
    flex-basis: 15%;
}

.posts li .name_body {
    flex-basis: 85%;
}
li{
    list-style: none;
}

.posts li .name_body .name {
    font-weight: bold;
}
.posts ul {
    padding: 0;
}
.posts li .name_body .datetime {
    color: gray;
}

@media screen and (max-width) {
    .posts li .name_body .name {
        font-size: 20px;
    }
    
}

.posts li .option {

    position: absolute;
    top: 40px;
    right: 15px;
    border: 1px solid #ccc;
    background-color: white;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 3px;
    display: none;
    flex-direction: column;
}
.posts li .option a {
text-decoration: none;
}
a img{
    width: 30px;
}
div.home{
    display: flex;
    align-items: center;
}
div.home img{
    width:50px;
    border-radius:50% ;
}

div.flex{
    display: flex;
    align-items: center;
}

div.image img{
    margin-left: 100px;
    width: 50%;
    border-radius: 20px;
}
li{
    padding-left: 30px;
    border: 1px solid #ccc;
    position: relative;
}
a.like {
    display: flex;
    align-items: center;
    text-decoration: none;
}
a.like p{
    margin-left: 15px;
    
}
.post_form.edit_form{
    border: 1px solid #ccc;
}