{% extends "base.html" %} {% block content %} {% load static %}

<section class='content'>
 <section class='post_form'>
   <div class="home">
      <img src="{% static 'img/profile.png' %}" alt="">
      <h1>Home</h1>
   </div>
    <form action="/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        <input type="text" name="name" placeholder="Name" required>
        <textarea name="body" placeholder="say something" required></textarea>
        <input type="file" name="img">
        <input type="submit" value="Tweet" />
    </form>


 </section>
 <section class='posts'>
    <ul>
       {% for post in posts reversed %} 
       <li>
         <img class="option_icon js-menu-icon" src="{% static 'img/option.png' %}" /> 
         <div class="option">
          <a href="/delete/{{ post.id}}/">Delete</a><br>
          <a href="/edit/{{ post.id}}/">Edit</a>
          
         </div>
         <div class="flex">
         <div class="logo">
           <img class= 'img' src="{% static 'img/profile-user.png' %}" />
         </div>
         <div class="name_body">
            <div class="name"> {{post.name}}</div>
            <div class="datetime">{{ post.created_at }}</div>
            <p>{{ post.body}}</p>
            
         </div>
      </div >
      <div class="image">
         {% if post.img.url %}
         <img src={{post.img.url}} alt="">
         {% endif%}
      </div>
         <a class="like" href="like/{{post.id}}/">
         <img src="{% static 'img/like.svg' %}" alt="">
         <p>{{post.like}}</p>
        </a>
       </li>
        {% endfor %}
    </ul>

  </section>
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'js/posts.js' %}"></script>
</section>


{% endblock %}

